[submodule "lambda"]
	path = lambda
	url = https://github.com/cwwojin/FORK_backend_lambda.git
	branch = main
[submodule "database"]
	path = database
	url = https://cwwojin@github.com/cwwojin/FORK_backend_database.git
	branch = main
